RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^terms-of-service terms-of-service.html [NC,L]
RewriteRule ^privacy-policy privacy-policy.html [NC,L]
DirectoryIndex index.html


