*, *::before, *::after {
    box-sizing: border-box;
}
html {
    height: 100%;
  }
body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #666666;
    line-height: 150%;
    letter-spacing: .2px;
    font-family: Roboto, sans-serif;
    background-color: white;
    scroll-behavior: smooth;
    height: auto;
}
a {
    text-decoration: none;
  }
.header{
    background-color: white;
    position: sticky;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: auto;
    z-index: 100;
    height: 100px;
    padding-top: 5px;
}
@media only screen and (min-width: 786px){
    .header{
    padding-top: 25px;
    }
}
@media only screen and (max-width: 785px){
    .header{
        padding-top:0px;
    }
}
@media only screen and (max-width: 1200px){
    .header{
        padding-left:20px;
        padding-right:20px;

    }
}
.button{
    font: Bold 16px/19px Lato;
    color:#f7f7f7;
    line-height: 28px;
    margin: 0 10px;
    padding: 10px 25px;
    border-radius: 50px;
    background: transparent linear-gradient(90deg, #4792FF 0%, #5574E1 100%) 0% 0% no-repeat padding-box;
    text-align: center;
    display: inline-block;
    border: 0;
    cursor: pointer;
    user-select: none;
    width: auto;
    height: 50px;
}
.button:hover{
    background:rgb(60, 91, 200)
}
@media only screen and (min-width: 992px){
    .button{
    padding: 10px 45px;
    }
}
@media only screen and (max-width: 786px){
    .button{
    height: 45px;
    padding: 8px 40px;
    margin-bottom:5px;
    }
}
.container{
    width:100%;
    height: auto;
}
.policy__container{
    max-width:1200px;
    margin:0px auto;
    padding-bottom: 30px;
    padding-bottom: 50px;
}
@media only screen and (max-width: 1200px){
    .policy__container{
    padding: 0px 15px;
    }
}
.header__nav{
    display: flex;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
@media only screen and (min-width: 786px){
    .header__nav{
    flex-direction: row;
    align-items: center;
    }
}
.nav--logo{
    font: 900 20px/24px Lato;
    letter-spacing: 1.4px;
    color: #4792FF;
    margin:10px 0px;
    justify-content: flex-start;
}
.nav--logo a{
    color: #4792FF; 
}
@media only screen and (min-width: 786px){
    .nav--logo{
    margin:none;
    display: flex;
    flex-grow: 1;
    }
}
.header__nav--menu{
    display: none;
    justify-content: center;
}
@media only screen and (min-width: 786px){
    .header__nav--menu{
    display: flex;
    }
}
.header__nav--menu-part{
    position: relative;
    margin-right: 70px;
    margin-left: 0px;
}
.header__nav--menu-element{
    font-family: 'Lato Regular', sans-serif;
    font-size:19px;
    display: flex;
    height: 50px;
    padding-right: 5px;
    padding-left: 5px;
    position: relative;
    margin-right: 70px;
    margin-left: 0px;
    flex-direction: column;
    justify-content: center;
    color: #404040;
    cursor: pointer;
    background: linear-gradient(currentColor, currentColor) bottom / 0 .1em no-repeat;
    transition: 0.5s background-size;
    background-position: left bottom;
}
.header__nav--menu-element:hover{
    background-size: 100% .1em;
}
.s-1{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 90%;
    margin: auto;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 30px;
    max-width: 1200px;
}
@media only screen and (min-width: 992px){
    .s-1{
    padding-top: 120px;
    padding-bottom: 120px;
    }
}
.s-1__content{
    width: 100%;
    margin-bottom: 30px;
}
@media only screen and (min-width: 992px){
    .s-1__content{
    margin-bottom: 0;
    width: calc(100% - 579px);
    min-height: 490px;
    }
}
.s-1__content h1{
    font: 900 32x/48px Lato;
    letter-spacing: 0.96px;
    color: #404040;
    margin-top: 0;
    line-height: 120%;
}
.s-1__content p{
    font-family: 'Lato Regular', sans-serif;
    font: 900 32x/48px Lato;
    max-width: 313px;
    color: #404040;
    margin-top: 0;
    margin-bottom: 16px;
}
@media only screen and (min-width: 992px){
    .s-1__content h1{
        font: 900 48px/57px Lato;
    }
}
.s-1__photo{
    width: 100%;
}
.s-1__photo img{
    width: 579px; 
    max-width: 100%;
}
@media only screen and (min-width: 992px){
    .s-1__photo{
        width: 579px;
    }
}
.s-1__swiper{
margin-top: 2em;}
@media only screen and (min-width: 992px){
    .s-1__swiper{
        margin-top: 3em;
    }
}
.s-1__swiper h4{
    font: 24px/36px Lato;
    letter-spacing: 1.2px;
    margin-top: 0;
    margin-bottom: .5em;
    color: #404040;
}
.s-1__swiper h4>strong{
    color: #4792FF;
    font-weight: 900;
}
@media only screen and (min-width: 992px){
    .s-1__swiper h4{
        margin-bottom: 40px;
    }
}
.s-1__swiper--content{
    position: relative;
    height: 57px;
    width: 100%;
    overflow: hidden;
}
.s-1__swiper--content span{
    position:absolute;
    animation:animate 15s infinite linear;
    /* animation-direction: alternate-reverse; */
    opacity:0;
}

@keyframes animate{
    0%{ 
        opacity:0;
    }
    10%{
        opacity:1;
    }
    15%{
        opacity:1;
    }
    25%{
        opacity:1;
    }
    35%{
        opacity:0;
    }
    100%{
        opacity:0;
    }
}
.s-1__swiper--content span:nth-child(1){
    animation-delay:0s;
}
.s-1__swiper--content span:nth-child(2){
    animation-delay:5s;
}
.s-1__swiper--content span:nth-child(3){
    animation-delay:10s;
}
.s-1__swiper--text{
    position: absolute;
    width: 100%;
    max-width: 500px;
    font: 900 32px/48px Lato;
    letter-spacing: 0;
    color: #4792FF;
    transition:1s;
    user-select: none;
}
@media only screen and (min-width: 992px){
    .s-1__swiper--text{
        font: 900 48px/57px Lato;
    }
}
.s-2{
    background-color: #F9F9F9;
}
.s-2__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.s-2__content h2{
    text-align: center;
    font: 900 32px/48px Lato;
    letter-spacing: 0.96px;
    color: #404040;
    margin-top: 0;
    line-height: 120%;
}
.s-2__content p{
    text-align: center;
    max-width: 490px;
    color: #404040;
    margin-top: 0;
    margin-bottom: 16px;
}
.s-2__content strong{
    color: #4792FF;
    font-weight: 900;
}
.s-2__content img{
    margin-top: 20px;
    max-width: 100%;
}
@media only screen and (min-width: 992px){
    .s-2__content h2{
        font: 900 48px/57px Lato;
        max-width: 1040px;
    }
    .s-2__content{
        padding-top: 180px;
        padding-bottom: 130px;
    }
    .s-2__content img{
        margin-top: 60px;
    }
}
.s-3{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.s-3__content{
    display: flex;
    flex-direction: column;
}
.s-3__content--photo{
    position: relative;
    min-height: 360px;
    width: 100%;
}  
.s-3__content--photo img{
    max-width: 100%;
}     
.s-3__content--text h2{
    font: 900 32px/48px Lato;
    letter-spacing: 0.96px;
    color: #404040;
    margin-top: 0;
    line-height: 120%;
}
.s-3__content--text p{
    max-width: 500px;
    color: #404040;
    margin-top: 0;
    margin-bottom: 30px;
}
.s-3__content--text strong{
    font-weight: 900;
}
.s-3__content--list{
    padding-left: 2em;
}
.s-3__content--list-item{
    max-width: 500px;
    font: 700 20px/36px Lato;
    letter-spacing: 0;
    color: #4792FF;
    margin-top: .6em;
}
.s-3__arrow{
    position: relative;
    margin: 150px auto 0 auto;
    width: 21px;
    height: 152px;
}
.s-3__arrow--central {
    margin: 0 auto;
    width: 3px;
    height: 149px;
    background-color: #4792FF;
 }
.s-3__arrow--left {
    position: absolute;
    bottom: 0;
    left: 5px;
    width: 3px;
    height: 14px;
    background-color: #4792FF;
    transform: rotate(-45deg);
}
.s-3__arrow--right {
    position: absolute;
    bottom: 0;
    right: 5px;
    width: 3px;
    height: 14px;
    background-color: #4792FF;
    transform: rotate(45deg);
}
.s-3__arrow--label {
    content:'';
    position: absolute;
    top: -25px;
    left: -80px;
    transform: rotate(-90deg);
    width: 110px;
    font: Regular 20px/36px Lato;
    letter-spacing: 1px;
    color: #404040;
}
@media only screen and (min-width: 992px){
    .s-3{
        padding-top: 180px;
        padding-bottom: 120px;
    }
    .s-3__content{
        flex-direction: row;
    }
    .s-3__content--photo{
        width: 50%;
    } 
    .s-3__content--photo img{
        position: absolute;
        right: 100px;
        width: 461px;
    } 
    .s-3__content--text{
        max-width: 50%;
    }
    .s-3__content--text h2{
        font: 900 48px/57px Lato;
    }
    .s-3__content--list-item{
        margin-top: 1.2em;
        font: 700 30px/44px Lato;
    }
}
.s-4{
    background-color: #F9F9F9;
}
.s-4__content{
    max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.s-4__content > h2{
    font: 900 32px/48px Lato;
    width: 100%;
    text-align: center;
    letter-spacing: 0.96px;
    color: #404040;
    margin-top: 0;
    line-height: 120%;
}
.s-4__content--item{
    padding: 30px;
    margin: 25px;
    max-width: 520px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 10px #0000001F;
    border-radius: 10px;
}
.s-4__content--item h2{
    font: 900 24px/36px Lato;
    letter-spacing: 0;
    color: #404040;
    margin-top: 0;
}
.s-4__content--item p{
    color: #404040;
    margin-top: 0;
    margin-bottom: 16px;
}
.s-4__content--item p  strong{
    color: #4792FF;
    font-weight: 900;
    letter-spacing:1.35px;
}
.s-4__content--item-photo{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
}
.s-4__content--item-photo img{
    max-width: 100%;
}
@media only screen and (min-width: 992px){
    .s-4__content{
        padding-top: 80px;
        padding-bottom: 140px;
    } 
    .s-4__content > h2{
        margin-bottom: 40px;
        font: 900 48px/57px Lato;
    }
    .s-4__content--item{
        padding: 60px;
        margin: 35px;
    }
    .s-4__content--item h2{
        font: 900 32px/39px Lato;
    }
    .s-4__content--item-photo{
        margin-bottom: 0;
        height: 260px;
    }
}
.s-5{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 0;
}
.s-5 h2{
    font: 900 32px/48px Lato;
    width: 100%;
    text-align: center;
    letter-spacing: 0.96px;
    color: #404040;
    margin-top: 0;
    line-height: 120%;
}
.s-5 p{
    text-align: center;
    color: #404040;
    margin-top: 0;
    margin-bottom: 2em;
    max-width: 576px;
}
.s-5 p strong{
    color: #4792FF;
    font-weight: 900;
}
.s-5 img{
    max-width:100%;
}
@media only screen and (min-width: 992px){
    .s-5{ 
    padding-top: 140px;
    }
    .s-5 h2{
        font: 900 48px/57px Lato;
    }
}
.s-6{
    background-color: #F9F9F9;
}
.s-6__content{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 10px;
}
.s-6__content > h2{
    font: 900 32px/48px Lato;
    width: 100%;
    text-align: center;
    letter-spacing: 0.96px;
    color: #4792FF;
    margin-top: 0;
    line-height: 120%;
}
.s-6__main-content{
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin: 25px;
    width: 100%;
    max-width: 1000px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 10px #0000001F;
    border-radius: 10px;
}
.s-6__image{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}
.s-6__form{
    text-align: center;
}
.s-6__form--information {
    color: #404040;
    margin-top: 0;
    margin: auto;
    margin-bottom: 2em;
    max-width: 720px;
}
.s-6__form--input{
    padding: 0 20px;
    width: 100%;
    max-width: 360px;
    height: 50px;
    border: 1px solid #A0A0A0;
    border-radius: 25px;
    margin: 0 30px 15px 0;
}
.s-6__form--checkbox{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-top: 35px;
}
.s-6__form--checkbox label {
    font-size: 0.8rem;
}
.s-6__form--checkbox label p{
    margin: 0;
    display: inline;
    line-height: 120%;
    color: #404040;
}
.s-6__form--checkbox label p strong{
    font-weight: 900;
}
.s-6__form--checkbox label input{
    -webkit-appearance: none;
    background-color: rgb(245, 245, 245);
    border: 1px solid #cccccc;
    box-shadow: none;
    padding: 8px;
    margin: 4px 17px 0 0;
    position: relative;
}
.s-6__form--checkbox label input:checked{
    background-color: #4792FF;
    border: 1px solid #4792FF;
}
.s-6__form--checkbox label a{
    color:black;
}
.s-6__form--checkbox label a:hover{
    text-decoration: underline;
}
.s-6__form--elemets label{
    width:100%;
    display:flex;
    justify-content: center;
}
.button-form{
    font-size: inherit;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    min-height: 40px;
    border-radius: 50px;
    transition: box-shadow 300ms ease;
    cursor: pointer;
}
.button-form:hover{
    box-shadow:0 10px 20px 0 rgba(0, 190, 213, 0.1), 0 10px 20px 0 rgba(31, 33, 38, 0.1);
}
@media only screen and (min-width: 992px){
    .s-6__content{
        padding-top: 140px;
        padding-bottom: 30px;
    } 
    .s-6__content > h2{
        font: 900 48px/57px Lato;
    }
    .s-6__main-content{
        width: auto;
        padding: 75px;
        margin: 35px;
        flex-direction: row;
    }
    .s-6__image{
        justify-content: flex-start;
        width: 200px;
        margin-bottom: 0;
    }
    .s-6__form--checkbox{
        margin-top: 0;
        justify-content: start;
    }
    .s-6__form{
        text-align: left;
    }
    .s-6__form--input{
        margin-bottom: 35px;
    }
}
@media only screen and (max-width: 420px){
    .s-6__form--input{
        margin:0px;
    }
}
@media only screen and (min-width: 768px){
    .button-form {
        width: 240px;
        height: 50px;
    }
}

.footer{
    padding-bottom: 0px;
    color: #4792FF;
    background-color: #F9F9F9;
    padding-top: 50px;
}
.footer__grid{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    max-width: 50%;
    place-items: stretch;
    margin: auto;
}
.footer__grid a{
    color: #4792FF;
}
.footer__nav--logo{
    height: 50px;
}
.footer__copyright{
    display: flex;
    margin-top: 0px;
    padding: 50px 25px;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #f7f7f7;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}
.footer__copyright strong{
    color: #4792FF;
    font-weight: 900;
}
.footer__copyright span{
    display: inline-block;
    font-size: 20px;
    animation: heartbeat 1s infinite;
}
@keyframes heartbeat{
    0% {transform: scale(.75);}
    20% {transform: scale(1);}
    40% {transform: scale(.75);}
    60% {transform: scale(1);}
    80% {transform: scale(.75);}
    100% {transform: scale(.75);}
}
@media only screen and (min-width: 420px){
    .footer__grid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 50px;
        color:red;
    }
}
@media only screen and (min-width: 992px){
    .footer{
        padding-top: 50px;
    }
    .footer__nav--logo{
        height: initial;
        width: 650px;
    }
    .footer__copyright{
        margin-top: 0px;
    }
    .footer__grid{
        max-width: 1200px;
        place-items: center;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }
}
@media only screen and (max-width: 1200px){
    .footer{
        padding-left:20px;
        padding-right:20px;
        
    }
}

.error{
    background-color: #ffe9e9;
    border: 1px solid red;
    border-radius: 25px;
    min-width:588px;
    padding:8px;
    text-align: center;
}
.succes{
    background-color: #81de81;
    border: 1px solid green;
    border-radius: 25px;
    min-width:588px;
    padding:8px;
    text-align: center;
}
@media only screen and (max-width: 786px){
    .succes,.error{
        min-width:0px;
    }
}